
a {
	z-index: 0;
	height: auto;
	width: auto;
}
.lightBoxOuter{
	height: 100%;
	width:100%;
	background-color:black;
	opacity: .5; 
	position: absolute;
	
z-index: 5; 
	display: none;
}
.lightBoxInner{
	width:300px;
	height: 50%;
	margin:auto;
	opacity:1;
	background-color: white;
	display: flex;
}